@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #ef563e;
  --color-primary-light: #5dade2;

  --sidebar-bg: #f7f7f7;
  --sidebar-base-text: #858a89;

  --color-button-green: #42b542;
  --color-button-orange: #ff914d;
  --color-button-red: #b54242;
}
